<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'specialties')}">

<body>

  <h2>Specialties</h2>
  
  <table id="specialties" class="table table-striped">
  	<thead>
  		<tr>
  			<th style="width: 150px">Type</th>
  			<th style="width: 150px">Procedure</th>
  		</tr>	
  	</thead>
  	<tbody>
  		<tr th:each="specialty: ${vets}">
  			<td th:text="${specialty.name}"/>
  			<td><span th:text="${specialty.unity + ''}"></span></td>
  		</tr>
  	</tbody>
  </table>

  
</body>
</html>
