<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'pets')}">

<body>
 <h2>Pet Type</h2>
 	
 	<form th:object="${petType}" class="form-horizontal" id="add-owner-form" method="post">
 		<div class="form-group has-feedback">
 			<input 
 				th:replace="~{fragments/inputfield :: input('Name', 'name', 'text')}"/>
 				<input
                   th:replace="~{fragments/selectField :: select('Category', 'category', ${categories})}" />		
 		</div>
 		<div class="form-group">
 			<div class="col-sm-offset-2 col-sm-10">
 				<button
 					th:with="text=${petType['new']} ? 'Add Pet Type' : 'Update Pet Type'"
 					class="btn btn-default" type="submit" th:text="${text}">Add Pet Type</button>
 			</div>
 		</div>
 	</form>
  
  </body>
</html>
