<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'pets')}">

<body>

  <h2>Pet Types</h2>
  
  <table id="types" class="table table-striped">
  	<thead>
  		<tr>
  		  <th>Type</th>
  		  <th>Category</th>
  		</tr>	
  	</thead>
  	<tbody>
  		<tr th:each="type: ${types}">
  		<td><a th:href="@{/pettypes/__${type.id}__}"
					th:text="${type.name}" /></a></td>
  					<td><span th:text="${type.category + ' '}"></span></td>
  		</tr>
  	</tbody>
  </table>
<br>
<a class="btn btn-default" th:href="@{/pettypes/new}">Add Pet Type</a>
 
</body>
</html>
