<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'products')}">

<body>

  <h2>Products for your pet</h2>
  
  <table id="products" class="table table-striped">
  	<thead>
  		<tr>
  			<th style="width: 150px">Type</th>
  			<th style="width: 150px">Price</th>
  		</tr>	
  	</thead>
  	
  	<tbody>
  		<tr th:each="name:${name}">
  			<td th:text="${name.name}"/></td>
 
  			<td><span th:each="price: ${name.price}"
  			th:text="${name.price + ' '}"/></td>
  		</tr>
  	</tbody>
  	
  	
  </table>
</body>
</html>
